<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :lesson_title %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :lesson_time %>
  </div>

  <div class="field">
    <%= form.label :teacher %>
    <%= form.text_field :teacher, id: :lesson_teacher %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.text_field :room, id: :lesson_room %>
  </div>

  <div class="field">
    <%= form.label :day_week %>
    <%= form.text_field :day_week, id: :lesson_day_week %>
  </div>

  <div class="field">
    <%= form.label :course %>
    <%= form.number_field :course, id: :lesson_course %>
  </div>

  <div class="field">
    <%= form.label :group %>
    <%= form.number_field :group, id: :lesson_group %>
  </div>

  <div class="field">
    <%= form.label :numerator %>
    <%= form.text_field :numerator, id: :lesson_numerator %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
