<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Time:</strong>
  <%= @lesson.time %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @lesson.teacher %>
</p>

<p>
  <strong>Room:</strong>
  <%= @lesson.room %>
</p>

<p>
  <strong>Day week:</strong>
  <%= @lesson.day_week %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lesson.course %>
</p>

<p>
  <strong>Group:</strong>
  <%= @lesson.group %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
